#wrapper{
  width: 1000px;
  height: 1200px;
  background: #225075;
}
#header{
  background: silver;
  width: 1000px;
  height: 234px;
}
#textsize{
  margin-left: 259px;
}
#linkbar{
  width: 800px;
  height: 47px;
  margin-left: 91px;
  border-radius: 7px;
  background-color: violet;
}
#nav{
  width: 200px;
  height: 400px;
  margin-left: 107px;
  background-color: yellow;
}
#content{
  width: 500px;
  height: 550px;
  margin-left: 58px;
  background-color: red;
}
#nav, #content{
  display: inline-block;
  vertical-align: top;
  margin-top: 50px;
}
#mainpara{
  text-align: center;
}
.pythonheader{
  width: 349px;
  height: 128px;
  padding: 40px;
}
.navbar{
  display: block;
  text-align: center;
  margin-top: 20px;
}
.container-4{
  overflow: hidden;
  width: 300px;
  white-space: nowrap;
  border-radius: 5px;
}
.container-4 input#search{
  width: 300px;
  height: 50px;
  background: #2b303b;
  border: none;
  font-size: 10pt;
  float: left;
  color: #fff;
  padding-left: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.pythonheader,#textsize,.container-4{
  display: inline-block;
  vertical-align: top;
}
#linkbar a{
  text-decoration: none;
  margin-left: 19px;
  font-size: 28px;
  line-height: 48px;
}
h6{
  margin-top: 0px;
  text-align: right;
}
